<body>
  <div class="container" style="margin-top:30px" id="test">
    <% @messages.each do |message| %>
        <div class="alert alert-info alert-dismissable" id="div-message-item-<%=message.id %>">
          <%= link_to 'x', {remote: 'true',controller: 'navbar', action: 'msg_delete', id:  message.id}, {class: 'close', data: {confirm: "Are you sure?"}} %>
          <strong><%= message.title %></strong>
          <div>
          <h6><small><%= message.create_time%></small></h6>
          </div>
          <br>
          <%= message.content %>
        </div>
    <% end %>
    <div class="row">
      <div class="col-sm-7 col-center-block" >
        <%= paginate @messages%>
      </div>
    </div>
  </div>
</body>
