<%= form_for(@borrow_record) do |f| %>
  <% if @borrow_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@borrow_record.errors.count, "error") %> prohibited this borrow_record from being saved:</h2>

      <ul>
      <% @borrow_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.number_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :borrow_time %><br>
    <%= f.datetime_select :borrow_time %>
  </div>
  <div class="field">
    <%= f.label :time_limit %><br>
    <%= f.datetime_select :time_limit %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :book_name %><br>
    <%= f.text_field :book_name %>
  </div>
  <div class="field">
    <%= f.label :serial_code %><br>
    <%= f.text_field :serial_code %>
  </div>
  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
